*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: black;
    list-style-type: none;
}
body{
    background-color: bisque;
}

html{
    width: 100%;
    height: 100vh;
    scroll-behavior: smooth;
}

button{
    background-color: blueviolet;
}